*{
	margin: 0;
	font:1em Verdana, tahoma, arial; 
	color: #6F4800;
	box-sizing:border-box;
	
	-webkit-user-select:none;
	cursor :default;
	text-decoration: none;
	font-family:Comic Sans MS,Georgia,Verdana;
}
input[type='search']{
	/*position:absolute;*/
	top:-5px;
	float:right;
	margin-bottom: 20px;
}
html{
	
}
body{
	background: url(background.png);
	padding: 15px;
}

h1{
	display: block;
	margin:45px:10px;
	text-align: center;
}
header{
	width: 1000px;
	height: 200px;
	background: url(top-image.jpg) 0 -100px ;
	margin: 100px auto 25px;
	border: 1px solid #fad288;
	border-radius: 16px;
	box-shadow: 0 100px 90px -60px  rgba(0,0,0,0.9);
	position:relative;
	z-index: -1;
	background-size: 100%;
}
#location{
	width: 980px;
	border: 10px solid #fad288;
}
/*header div{
	width:205px;
	height: 210px;
	background: #eee;
	margin-top:-4px;
	margin-left:40px;
	background:url(background.png);
	background-size: 210px;
	border-bottom:2px solid #fad288;
	border-right:10px solid #fad288;
	border-left:10px solid #fad288;
	border-top:2px solid #fad288;
	border-radius: 10%;
}
*/
.article, #instruction{
	margin:35px 5px 10px;
	background: rgba(255, 214, 138,.4);
	padding: 15px;
}
.globus{
	width: 200px;
	height: 200px;
	border: 1px solid #fad288;
	border-radius:50%;
	float: left;
	clear: both;
	background: url(map.jpg);
	background-size: 400px;
	position:absolute;
	transform:rotation(114deg);
	box-shadow:inset 20px 2px 15px rgba(0,0,0,0.4), -4px 2px 10px rgba(186,131,29,0.4), inset -10px 0px 50px rgba(0,0,0,0.4);
	left:-10%;
	bottom:45%;
	animation:earth 20s linear infinite;
}

.container{

	max-width: 1000px;
	min-width: 500px;
	background: rgba(250,197,100,.3); 
		background: url(background.png);
	background-size: 15%;
	box-shadow: 0 5px 15px 10px rgba(186,131,29,0.4);
	margin: 10px auto 50px;
	padding: 10px ;
	position:relative;
}

/*creating the main menu */
.main-menu{
	float: left;
	list-style: none;
	padding: 0;
	width: 50px;
	margin-left: -61px;
	margin-top: -11px;
	opacity: 0.5;
	z-index: 1;
	box-shadow: -1px 3px 6px;
}

.main-menu:hover{
	opacity: 1;
	transition: opacity 0.2s;
}

.main-menu li {
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.main-menu li:hover{
	width: 180px;
	transition: width 0.2s ease-in, height 0.2s ease 0.2s;
	box-shadow: inset 1px -1px 2px rgba(255,255,255,.3);

}
.menu{
	transition: height 0.2s ease 0.2s;
}
.menu:hover{
	height: 174px;
}
.main-menu li a:hover{
	left:-5px;
}
.main-menu li a:active{
	background: rgba(238,238,238,0.6);
}
/*creating the triangle in mail-menu*/
.main-menu li a:hover::after{
	content: '';
	position: absolute;
	bottom:20%;
	left:-1;
	border-left: 10px solid #FFD68A;
	border-bottom: 12px solid rgba(0,0,0,0);
	border-top: 12px solid rgba(0,0,0,0);
}

.main-menu li a:first-child:hover::after{
	bottom:28%;
}


.main-menu li a{
	font-family:  tahoma,arial;
	text-transform: uppercase;
	margin: 1px ;
	display: block;
	width: 155px;
	height: 40px;
	padding-left: 15px;
	cursor: pointer;
	line-height: 40px;
	background: #FFD68A;
	overflow: hidden;
	transition: background 0.3s ease;
	position: relative;
}

.main-menu li a:first-child{
	font-size: 1.2em;
	height: 50px;
	position: relative;
	text-indent: 35px;
	line-height: 50px;
}

.main-menu a:first-child::before{
	content: '';
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top:9px !important;
	left:9px !important;
}

.home a:first-child::before{
	background: url(icon_home.png) center no-repeat;
}

.menu a:first-child::before{
	background: url(icon_menu.png) center no-repeat;
}

.contacts a:first-child::before{
	background: url(icon_contacts.png) center no-repeat;
}

.about a:first-child::before{
	background: url(icon_about.png) center no-repeat;
}

.review a:first-child::before{
	background: url(icon_review.png) center no-repeat;
}

.main-menu a:nth-child(n+1)::before{
	content: '';
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top:2px;
	left:115px;
}

.menu a:nth-child(2)::before{
	background: url(icon_food.png) center no-repeat;
}

.menu a:nth-child(3)::before{
	background: url(icon_cup.png) center no-repeat;
}

.menu a:nth-child(4)::before{
	background: url(icon_cake.png) center no-repeat;
}

.main-menu li a:hover{
	background: #D87F3E;
}
.main-menu li a:active{
	background: #d11;
}
/*main menu all parameters (left float) */
/* Creating Slider Parameters */
.warp-for-slider{
	position: relative;
	height:400px;
	width: 800px;
	margin: 60px auto 80px;
}

.img{
	position: absolute;
	-webkit-perspective:500px;
	margin-left: -8px;
	cursor: pointer;
}

.img1 .frag { background: url(slider-1.jpg);}
.img2 .frag { background: url(slider-2.jpg);}
.img3 .frag { background: url(slider-3.jpg);}
.img4 .frag { background: url(slider-4.jpg);}
.img5 .frag { background: url(slider-5.jpg);}
.img6 .frag { background: url(slider-6.jpg);}

.slider, .img{
	width: inherit;
	height: inherit;

}

.slider {
	position: relative;
	overflow: hidden;
	background: #000;
	border: 8px solid #FFD68A;
	border-radius: 5px;
	box-shadow: 0 7px 10px rgba(0,0,0,.3), 0 100px 70px -60px  rgba(0,0,0,0.9);
}

.warp-for-slider > input{
	display: none;
}

.captions{
	display: none;
}

.frag{
	width: 133px;
	height: inherit;
	float:left;
	z-index: 0;
	opacity: 0;
	cursor: pointer;
	transform-origin: center right;
	transform: rotateY(90deg) translateZ(-100px) scale(1);
	transition: transform .6s, opacity .6s, -webkit-filter 1.2s;
	-webkit-filter: saturate(0) blur(10px) brightness(1.5) contrast(4);
}

.img .frag2{
	background-position: -133px 0;
	transition-delay: .1s;
}

.img .frag3{
	background-position: -266px 0;
	transition-delay: .22s;
}

.img .frag4{
	background-position: -399px 0;
	transition-delay: .34s;
}

.img .frag5{
	background-position: -532px 0;
	transition-delay: .46s;
}

.img .frag6{
	background-position: -665px 0;
	transition-delay: .58s;
}

#slide1:checked ~ .slider .img1 .frag,
#slide2:checked ~ .slider .img2 .frag,
#slide3:checked ~ .slider .img3 .frag,
#slide4:checked ~ .slider .img4 .frag,
#slide5:checked ~ .slider .img5 .frag,
#slide6:checked ~ .slider .img6 .frag{
	transform: rotateY(0) translateZ(0) scale(1);
	-webkit-filter: saturate(1) blur(0) brightness(1) contrast(1);
	opacity: 1;
	z-index: 2;
}

.controls{
	position:absolute;
	bottom: -50px;
	left:50%;
	margin-left: -115px;
}

.controls label{
	display:block;
	height:10px;
	width:30px;
	float:left;
	margin-right:10px;
	background-color: #211;
	cursor: pointer;
	opacity: .2;
}

.controls label:hover,
.slide-controls label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6){
	opacity: 0.8;
	transition: opacity 0.4s;
}

.slide-controls label {
	position: absolute;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	cursor: pointer;
	display:block;
	top: 50%;
	margin-top: -15px;
	opacity: .2;
}

#slide1:checked ~ .slide-controls label:nth-of-type(6),
#slide2:checked ~ .slide-controls label:nth-of-type(1),
#slide3:checked ~ .slide-controls label:nth-of-type(2),
#slide4:checked ~ .slide-controls label:nth-of-type(3),
#slide5:checked ~ .slide-controls label:nth-of-type(4),
#slide6:checked ~ .slide-controls label:nth-of-type(5){
	border-right:40px solid #311;
	left:-40px;
}

#slide1:checked ~ .slide-controls label:nth-of-type(2),
#slide2:checked ~ .slide-controls label:nth-of-type(3),
#slide3:checked ~ .slide-controls label:nth-of-type(4),
#slide4:checked ~ .slide-controls label:nth-of-type(5),
#slide5:checked ~ .slide-controls label:nth-of-type(6),
#slide6:checked ~ .slide-controls label:nth-of-type(1){
	border-left:40px solid #311;
	right:-40px;
}


.captions > div {
	position: absolute;
	right: 20px;
	bottom: 7px;
	color: transparent;
	text-shadow: 0 0 60px transparent;
	z-index: 3; 
	font-size: 3em;
	text-transform: uppercase;
	transition: text-shadow 1.+5s;
}

#slide1:checked ~ .slider .captions .c1,
#slide2:checked ~ .slider .captions .c2,
#slide3:checked ~ .slider .captions .c3,
#slide4:checked ~ .slider .captions .c4,
#slide5:checked ~ .slider .captions .c5,
#slide6:checked ~ .slider .captions .c6 {
	text-shadow: 0 0 0 rgba(255,255,255,0.5);
}

/*animations*/
@keyframes earth {
	0% {background-position:-400px;}
	100%{background-position:0;}
}
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }
  
  50% {
    -webkit-filter: sepia(1) saturate(8);
  }
  
  100% {
    -webkit-filter: sepia(0) saturate(2);
  }
}