body{
	background: #eee;
	margin:0;
	padding:0;
}
.container{
	margin:100px auto;
	background: #c1c5c9;
	width:600px;
	height:400px;
	line-height: 100px;
	text-align: center;
	border-radius: 25px;
	border:6px #1c5c9c solid;
	overflow: visible;
}
